body {
  margin: 0;
}
.heading {
  height: auto;
  background-color: #235439;
  font-family: Noto Serif Georgian;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 20px;
}
.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 700px;
}
.heading-nav nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-right: 100px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.heading-logo {
  margin-right: 50px;
  object-fit: contain;
  width: 160px;
  height: 160px;
}
.logo {
  min-width: 160px;
  width: 100%;
  height: 100%;
}
.partnering {
  width: 170px;
  height: 50px;
  font-size: 20px;
  font-family: Noto Serif Georgian;
  background-color: #dfa32d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cover {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 100%;
  width: 100%;
}
.about-us-container {
  text-align: center;
}
.about-us-container hr {
  width: 200px;
}
.about-us-container p {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
